* {
	margin: 0;
	padding: 0;
}

.container {
	background-color: #C0D8D9;
	margin: 0 auto;
	width: 1200px;
	padding: 0 15px;
	box-sizing: border-box;
}

.headerFooter {
	background-color: #7FAFF6;
	width: 100%;
	height: 100px;
	margin-bottom: 15px;
}

.headerFooter a {
	background: #A5C7F9;
	border-radius: 5px;
	width: 206px;
	height: 39px;
	display: inline-flex;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	padding: 8px 15px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;
	color: #FFFFFF;
	margin-left: 30px;
	margin-top: 30.5px;
	box-sizing: border-box;
}

.firstBlock {
	font-family: Roboto, Arial;
	font-size: 53px;
	line-height: 62px;
	color: #FFFFFF;
	background-color: #B3F95A;
	width: 100%;
	margin-bottom: 15px;
	display: grid;
	grid-gap: 15px;
	grid-template-rows: 198px 190px;
	grid-template-columns: 390px 590px 160px;
	grid-template-areas: "first second third"
						"fourth fourth fifth";
}

.secondBlock {
	background-color: #88B5BF;
	width: 100%;
	margin-bottom: 100px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 30px;
	padding: 30px;
	box-sizing: border-box;
}

.block {
	background-color: #0D89B0;
	padding-top: 74.51%;
}

.box-1 {
	background-color: #8AD191;
	grid-area: first;
}

.box-1::after {
	content: "1";
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.box-2 {
	background-color: #8AD191;
	grid-area: second;
}

.box-2::after {
	content: "2";
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.box-3 {
	background-color: #8AD191;
	grid-area: third;
}

.box-3::after {
	content: "3";
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.box-4 {
	background-color: #8AD191;
	grid-area: fourth;
}

.box-4::after {
	content: "4";
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.box-5 {
	background-color: #8AD191;
	grid-area: fifth;
}

.box-5::after {
	content: "5";
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	visibility: hidden;
	opacity: 0;
	display: flex;
    justify-content: center;
    align-items: center;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}

.popup {
	width: 400px;
    height: 400px;
    background: #FFFFFF;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: 'Roboto';
    font-size: 53px;
    line-height: 62px;
}

.popup p {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.popup a {
	display: flex;
	width: 43px;
	height: 39px;
	margin-left: 342px;
	margin-top: 15px;
	background: #7FAFF6;
	border-radius: 5px;
	font-family: Roboto;
	font-size: 20px;
	line-height: 23px;
	color: #FFFFFF;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	position: absolute;
}